.pokemon-card {
  width: 200px;
  background-color: #fff3cd;
  color: #333;
  padding: 20px;
  border: 2px solid #ffc107;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card:hover {
  background-color: #ffeeba;
  transform: translateY(-5px);
}

.pokemon-name {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon-img {
  width: 100px;
  border-radius: 10px;
}

.loading {
  font-size: 1.5em;
  color: #007bff;
}