.selected-pokemon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-text {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.pokemon-img {
  width: 100%;
  border-radius: 10px;
}

.pokemon-stats {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}